<section class="relative bg-white bg-opacity-80 p-5 rounded-3xl w-11/12 md:w-3/4 hover:bg-opacity-100 m-auto cursor-pointer" [routerLink]="['/cityForecast', city.id]">
    <img [src]="lastDayForecastIcon" class="absolute -top-10 right-0">
    <div>
        <h2 class="text-5xl text-orange mb-2 font-bold">{{lastDayForecast.temperatureCelsius}}&deg;</h2>
    </div>
    <div class="flex justify-between pt-2">
        <h2 class="text-dark-blue text-xl font-semibold">{{city.city}}</h2>
        <h4 class="text-sm text-blue"><span class="text-sm">Humidity:</span> {{lastDayForecast.humidity}}%</h4>
    </div>
</section>
