<form [formGroup]="searchForm">
    <div class="relative w-11/12 md:w-1/2 m-auto">
        <input type="text" placeholder="Search for City" class="search bg-white bg-opacity-80 rounded-xl w-full p-3"
            formControlName="cityName" />
        <div class="absolute inset-y-0 end-3 flex items-center">
            <button class="search-btn" type="submit">
                <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14.8398 15.1072L20.143 21" stroke="#023047"></path>
                    <path
                        d="M10.7146 16.7143C14.5017 16.7143 17.5717 13.6442 17.5717 9.85714C17.5717 6.07005 14.5017 3 10.7146 3C6.92747 3 3.85742 6.07005 3.85742 9.85714C3.85742 13.6442 6.92747 16.7143 10.7146 16.7143Z"
                        stroke="#023047" data-ignore-fill=""></path>
                </svg>
            </button>
        </div>
    </div>
    <!-- Dropdown to show filtered cities -->
    <ul class=" bg-white bg-opacity-80 rounded-xl w-11/12 md:w-1/2 m-auto max-h-1/2 overflow-y-auto mt-2">
        @for (city of filteredCities; track $index) {
            <li (click)="navigateToCityDetails(city.cityId)"
                class="p-2 cursor-pointer hover:bg-dark-blue hover:text-white">
                {{ city.cityName }}
            </li>
        }
    </ul>
</form>