.search {
    border: none;
    padding: 2rem 2rem 2rem 2rem;
    font-size: 25px;
}

input:focus {
    outline: none;
    box-shadow: none;
    border-color: transparent;
}

.search::placeholder {
    color: #FB8500;
    font-size: 25px;
}

.search-field {
    position: relative;
}

.search-btn {
    position: absolute;
    top: 30%;
    right: 0;
    height: auto;
}

.search-btn:hover {
    scale: 1.2;
    transition: 1s;
}
